In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np
import re

In [2]:
base_urls=[
          'https://web.archive.org/web/20110311233233/http://www.kenpom.com/',#2011
          'https://web.archive.org/web/20120311165019/http://kenpom.com/',#2012
          'https://web.archive.org/web/20130318221134/http://kenpom.com/',#2013
          'https://web.archive.org/web/20140318100454/http://kenpom.com/',#2014
          'https://web.archive.org/web/20150316212936/http://kenpom.com/',#2015
          'https://web.archive.org/web/20160314134726/http://kenpom.com/',#2016
          'https://web.archive.org/web/20170314003320/http://kenpom.com/',#2017
          'https://web.archive.org/web/20180312133836/https://kenpom.com/',#2018
          'https://web.archive.org/web/20190317205307/https://kenpom.com/',#2019
          # Tournament wasn't played on 2020
          'https://web.archive.org/web/20210315132114/https://kenpom.com/',#2021
          'https://web.archive.org/web/20220315152153/https://kenpom.com/',#2022
          'https://web.archive.org/web/20230314135153/https://kenpom.com/', #2023
          'https://web.archive.org/web/20240318160959/https://kenpom.com/', #2024
          'https://kenpom.com/'
         ]

base_urls2=[
          'https://kenpom.com/index.php?y=2011',#2011
          'https://kenpom.com/index.php?y=2012',#2012
          'https://kenpom.com/index.php?y=2013',#2013
          'https://kenpom.com/index.php?y=2014',#2014
          'https://kenpom.com/index.php?y=2015',#2015
          'https://kenpom.com/index.php?y=2016',#2016
          'https://kenpom.com/index.php?y=2017',#2017
          'https://kenpom.com/index.php?y=2018',#2018
          'https://kenpom.com/index.php?y=2019',#2019
          # Tournament wasn't played on 2020
          'https://kenpom.com/index.php?y=2021',#2021
          'https://kenpom.com/index.php?y=2022',#2022
          'https://kenpom.com/index.php?y=2023', #2023
          'https://kenpom.com/index.php?y=2024', #2024
          'https://kenpom.com/'
         ]


years = [2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2021, 2022, 2023, 2024]

def scrape_archive(url,year):
    """
    Imports raw data from a kenpom archive into a dataframe
    """
    
    page = requests.get(url)
    soup = BeautifulSoup(page.text)
    table_full = soup.find_all('table', {'id': 'ratings-table'})

    thead = table_full[0].find_all('thead')
    table = table_full[0]
    
    for weird in thead:
        table = str(table).replace(str(weird), '')

    df = pd.read_html(table)[0]
    df['year'] = year
    
    return df

In [3]:
import time  # Import the time module

def scraping(df, years):
    for url, year in zip(base_urls, years):
        print(year)
        print(f'Scraping: {url}')
        
        # Scrape the archive for the current year
        archive = scrape_archive(url, year)
        
        # Concatenate the scraped data to the existing DataFrame
        df = pd.concat((df, archive), axis=0)
        
        # Increment the year
        year += 1
        
        # Wait for 10 seconds before scraping the next page
#         print("Waiting for 10 seconds before scraping the next page...")
#         time.sleep(10)  # Pause execution for 10 seconds
        
    # Rename the columns of the DataFrame
    df.columns = ['Rank', 'Team', 'Conference', 'W-L', 'AdjEM', 
                  'AdjustO', 'AdjustO Rank', 'AdjustD', 'AdjustD Rank',
                  'AdjustT', 'AdjustT Rank', 'Luck', 'Luck Rank', 
                  'SOS AdjEM', 'SOS AdjEM Rank', 'SOS OppO', 'SOS OppO Rank',
                  'SOS OppD', 'SOS OppD Rank', 'NCSOS AdjEM', 'NCSOS AdjEM Rank', 'Year']
    
    # You may want to uncomment and modify this line if necessary
    # df.TeamName = df.TeamName.apply(lambda x: re.sub('\d', '', x).strip()).replace('.','')
    
    return df

In [4]:
df=None
df=scraping(df,years)
df.head()

2011
Scraping: https://web.archive.org/web/20110311233233/http://www.kenpom.com/
2012
Scraping: https://web.archive.org/web/20120311165019/http://kenpom.com/
2013
Scraping: https://web.archive.org/web/20130318221134/http://kenpom.com/
2014
Scraping: https://web.archive.org/web/20140318100454/http://kenpom.com/
2015
Scraping: https://web.archive.org/web/20150316212936/http://kenpom.com/
2016
Scraping: https://web.archive.org/web/20160314134726/http://kenpom.com/
2017
Scraping: https://web.archive.org/web/20170314003320/http://kenpom.com/
2018
Scraping: https://web.archive.org/web/20180312133836/https://kenpom.com/
2019
Scraping: https://web.archive.org/web/20190317205307/https://kenpom.com/
2021
Scraping: https://web.archive.org/web/20210315132114/https://kenpom.com/
2022
Scraping: https://web.archive.org/web/20220315152153/https://kenpom.com/
2023
Scraping: https://web.archive.org/web/20230314135153/https://kenpom.com/
2024
Scraping: https://web.archive.org/web/20240318160959/https://kenpom.com/

,Rank,Team,Conference,W-L,AdjEM,AdjustO,AdjustO Rank,AdjustD,AdjustD Rank,AdjustT,...,Luck Rank,SOS AdjEM,SOS AdjEM Rank,SOS OppO,SOS OppO Rank,SOS OppD,SOS OppD Rank,NCSOS AdjEM,NCSOS AdjEM Rank,Year
0,1,Ohio St.,B10,29-2,0.9824,125.4,2,88.4,10,66.0,...,72,0.7340,26,107.4,17,98.3,46,0.4219,245,2011
1,2,Duke,ACC,27-4,0.9720,118.8,6,87.2,6,70.1,...,171,0.7254,31,106.0,34,97.4,19,0.6092,71,2011
2,3,Kansas,B12,30-2,0.9711,119.8,4,88.3,9,69.6,...,30,0.6956,42,106.1,33,98.7,59,0.4944,178,2011
3,4,Texas,B12,26-6,0.9657,114.0,23,85.3,1,67.2,...,297,0.7080,38,105.6,43,97.8,31,0.5844,85,2011
4,5,Purdue,B10,25-6,0.9641,116.1,12,87.2,5,67.1,...,191,0.7713,13,108.1,13,97.3,14,0.5076,166,2011

In [5]:
df

,Rank,Team,Conference,W-L,AdjEM,AdjustO,AdjustO Rank,AdjustD,AdjustD Rank,AdjustT,...,Luck Rank,SOS AdjEM,SOS AdjEM Rank,SOS OppO,SOS OppO Rank,SOS OppD,SOS OppD Rank,NCSOS AdjEM,NCSOS AdjEM Rank,Year
0,1,Ohio St.,B10,29-2,0.9824,125.4,2,88.4,10,66.0,...,72,0.7340,26,107.4,17,98.3,46,0.4219,245,2011
1,2,Duke,ACC,27-4,0.9720,118.8,6,87.2,6,70.1,...,171,0.7254,31,106.0,34,97.4,19,0.6092,71,2011
2,3,Kansas,B12,30-2,0.9711,119.8,4,88.3,9,69.6,...,30,0.6956,42,106.1,33,98.7,59,0.4944,178,2011
3,4,Texas,B12,26-6,0.9657,114.0,23,85.3,1,67.2,...,297,0.7080,38,105.6,43,97.8,31,0.5844,85,2011
4,5,Purdue,B10,25-6,0.9641,116.1,12,87.2,5,67.1,...,191,0.7713,13,108.1,13,97.3,14,0.5076,166,2011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
357,358,Stonehill,NEC,4-27,-22.8900,91.9,354,114.8,344,67.6,...,334,-4.9200,303,102.2,320,107.2,227,4.2800,82,2024
358,359,Pacific,WCC,6-26,-22.9100,95.2,340,118.2,359,68.2,...,224,-0.0400,165,106.3,173,106.3,178,-4.9000,313,2024
359,360,IUPUI,Horz,6-26,-25.6300,92.1,353,117.7,358,67.3,...,238,-2.9700,254,106.2,177,109.2,341,-4.1800,303,2024
360,361,Coppin St.,MEAC,2-27,-25.8600,85.6,361,111.5,289,66.0,...,310,-5.1300,309,102.8,309,107.9,276,0.7200,172,2024
361,362,Mississippi Valley St.,SWAC,1-30,-31.2600,85.3,362,116.6,353,64.6,...,317,-2.3400,234,104.2,274,106.6,191,15.3100,2,2024

In [6]:
df.Year.max()

2024

In [7]:
result = df.copy()

In [8]:
result.columns

Index(['Rank', 'Team', 'Conference', 'W-L', 'AdjEM', 'AdjustO', 'AdjustO Rank',
       'AdjustD', 'AdjustD Rank', 'AdjustT', 'AdjustT Rank', 'Luck',
       'Luck Rank', 'SOS AdjEM', 'SOS AdjEM Rank', 'SOS OppO', 'SOS OppO Rank',
       'SOS OppD', 'SOS OppD Rank', 'NCSOS AdjEM', 'NCSOS AdjEM Rank', 'Year'],
      dtype='object')

In [9]:
# Lambda that returns true if given string is a number and a valid seed number (1-16)
valid_seed = lambda x: True if str(x).replace(' ', '').isdigit() \
                and int(x) > 0 and int(x) <= 16 else False

# Use lambda to parse out seed/team
result['Seed'] = result['Team'].apply(lambda x: x[-2:].replace(' ', '') \
                              if valid_seed(x[-2:]) else np.nan )

result['Team'] = result['Team'].apply(lambda x: x[:-2] if valid_seed(x[-2:]) else x)

In [10]:
# Split W-L column into wins and losses
result['Wins'] = result['W-L'].apply(lambda x: int(re.sub('-.*', '', x)) )
result['Losses'] = result['W-L'].apply(lambda x: int(re.sub('.*-', '', x)) )
result.drop('W-L', inplace=True, axis=1)

In [19]:
# Reorder columns just cause I'm OCD
df=result[[ 'Year', 'Rank', 'Team', 'Conference', 'Wins', 'Losses', 'Seed','AdjEM', 
             'AdjustO', 'AdjustO Rank', 'AdjustD', 'AdjustD Rank',
             'AdjustT', 'AdjustT Rank', 'Luck', 'Luck Rank', 
             'SOS AdjEM', 'SOS AdjEM Rank', 'SOS OppO', 'SOS OppO Rank',
             'SOS OppD', 'SOS OppD Rank', 'NCSOS AdjEM', 'NCSOS AdjEM Rank']]

In [20]:
df

,Year,Rank,Team,Conference,Wins,Losses,Seed,AdjEM,AdjustO,AdjustO Rank,...,Luck,Luck Rank,SOS AdjEM,SOS AdjEM Rank,SOS OppO,SOS OppO Rank,SOS OppD,SOS OppD Rank,NCSOS AdjEM,NCSOS AdjEM Rank
0,2011,1,Ohio St.,B10,29,2,NaN,0.9824,125.4,2,...,0.043,72,0.7340,26,107.4,17,98.3,46,0.4219,245
1,2011,2,Duke,ACC,27,4,NaN,0.9720,118.8,6,...,0.006,171,0.7254,31,106.0,34,97.4,19,0.6092,71
2,2011,3,Kansas,B12,30,2,NaN,0.9711,119.8,4,...,0.071,30,0.6956,42,106.1,33,98.7,59,0.4944,178
3,2011,4,Texas,B12,26,6,NaN,0.9657,114.0,23,...,-0.055,297,0.7080,38,105.6,43,97.8,31,0.5844,85
4,2011,5,Purdue,B10,25,6,NaN,0.9641,116.1,12,...,-0.004,191,0.7713,13,108.1,13,97.3,14,0.5076,166
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
357,2024,358,Stonehill,NEC,4,27,NaN,-22.8900,91.9,354,...,-0.078,334,-4.9200,303,102.2,320,107.2,227,4.2800,82
358,2024,359,Pacific,WCC,6,26,NaN,-22.9100,95.2,340,...,-0.014,224,-0.0400,165,106.3,173,106.3,178,-4.9000,313
359,2024,360,IUPUI,Horz,6,26,NaN,-25.6300,92.1,353,...,-0.019,238,-2.9700,254,106.2,177,109.2,341,-4.1800,303
360,2024,361,Coppin St.,MEAC,2,27,NaN,-25.8600,85.6,361,...,-0.057,310,-5.1300,309,102.8,309,107.9,276,0.7200,172
361,2024,362,Mississippi Valley St.,SWAC,1,30,NaN,-31.2600,85.3,362,...,-0.060,317,-2.3400,234,104.2,274,106.6,191,15.3100,2

In [21]:
df["Team"] = df["Team"].str.replace("*","")
df["Team"] = df["Team"].str.replace("0","")
df["Team"] = df["Team"].str.replace("1","")
df["Team"] = df["Team"].str.replace("2","")
df["Team"] = df["Team"].str.replace("3","")
df["Team"] = df["Team"].str.replace("4","")
df["Team"] = df["Team"].str.replace("5","")
df["Team"] = df["Team"].str.replace("6","")
df["Team"] = df["Team"].str.replace("7","")
df["Team"] = df["Team"].str.replace("8","")
df["Team"] = df["Team"].str.replace("9","")
df["Team"] = df["Team"].str.replace("10","")
df["Team"] = df["Team"].str.replace("11","")
df["Team"] = df["Team"].str.replace("12","")
df["Team"] = df["Team"].str.replace("13","")
df["Team"] = df["Team"].str.replace("14","")
df["Team"] = df["Team"].str.replace("15","")
df["Team"] = df["Team"].str.replace("16","")
df["Team"] = df["Team"].str.replace("Detroit","Detroit Mercy")
df["Team"] = df["Team"].str.replace("Arkansas Little Rock","Little Rock")
df["Team"] = df["Team"].str.replace("NC Asheville","UNC Asheville")
df["Team"] = df["Team"].str.replace("NC Greensboro","UNC Greensboro")
df["Team"] = df["Team"].str.replace("NC Wilmington","UNC Wilmington")
df["Team"] = df["Team"].str.replace("Brigham Young","BYU")
df["Team"] = df["Team"].str.replace("Central Florida","UCF")
df["Team"] = df["Team"].str.replace("Florida International","FIU")
df["Team"] = df["Team"].str.replace("Wisconsin Green Bay","Green Bay")
df["Team"] = df["Team"].str.replace("Houston Baptist","Houston Christian")
df["Team"] = df["Team"].str.replace("Long Island","LIU")
df["Team"] = df["Team"].str.replace("LIU Brooklyn","LIU")
df["Team"] = df["Team"].str.replace("Louisiana Lafayette","Louisiana")
df["Team"] = df["Team"].str.replace("Louisiana St.","LSU")
df["Team"] = df["Team"].str.replace("MD Baltimore County","UMBC")
df["Team"] = df["Team"].str.replace("Wisconsin Milwaukee","Milwaukee")
df["Team"] = df["Team"].str.replace("North Carolina St.","N.C. State")
df["Team"] = df["Team"].str.replace("Nevada Las Vegas","UNLV")
df["Team"] = df["Team"].str.replace("Pennsylvania","Penn")
df["Team"] = df["Team"].str.replace("IUPU Fort Wayne","Purdue Fort Wayne")
df["Team"] = df["Team"].str.replace("Fort Wayne","Purdue Fort Wayne")
df["Team"] = df["Team"].str.replace("Southern California","USC")
df["Team"] = df["Team"].str.replace("St. Louis","Saint Louis")
df["Team"] = df["Team"].str.replace("College of Charleston","Charleston")
df["Team"] = df["Team"].str.strip()

C:\Users\socst\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  """Entry point for launching an IPython kernel.
C:\Users\socst\Anaconda3\lib\site-packages\ipykernel_launcher.py:32: FutureWarning: The default value of regex will change from True to False in a future version.
C:\Users\socst\Anaconda3\lib\site-packages\ipykernel_launcher.py:35: FutureWarning: The default value of regex will change from True to False in a future version.
C:\Users\socst\Anaconda3\lib\site-packages\ipykernel_launcher.py:41: FutureWarning: The default value of regex will change from True to False in a future version.

In [22]:
df["Team"] = df["Team"].str.replace("UUNC Asheville","UNC Asheville")
df["Team"] = df["Team"].str.replace("UUNC Greensboro","UNC Greensboro")
df["Team"] = df["Team"].str.replace("UUNC Wilmington","UNC Wilmington")

In [23]:
df

,Year,Rank,Team,Conference,Wins,Losses,Seed,AdjEM,AdjustO,AdjustO Rank,...,Luck,Luck Rank,SOS AdjEM,SOS AdjEM Rank,SOS OppO,SOS OppO Rank,SOS OppD,SOS OppD Rank,NCSOS AdjEM,NCSOS AdjEM Rank
0,2011,1,Ohio St.,B10,29,2,NaN,0.9824,125.4,2,...,0.043,72,0.7340,26,107.4,17,98.3,46,0.4219,245
1,2011,2,Duke,ACC,27,4,NaN,0.9720,118.8,6,...,0.006,171,0.7254,31,106.0,34,97.4,19,0.6092,71
2,2011,3,Kansas,B12,30,2,NaN,0.9711,119.8,4,...,0.071,30,0.6956,42,106.1,33,98.7,59,0.4944,178
3,2011,4,Texas,B12,26,6,NaN,0.9657,114.0,23,...,-0.055,297,0.7080,38,105.6,43,97.8,31,0.5844,85
4,2011,5,Purdue,B10,25,6,NaN,0.9641,116.1,12,...,-0.004,191,0.7713,13,108.1,13,97.3,14,0.5076,166
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
357,2024,358,Stonehill,NEC,4,27,NaN,-22.8900,91.9,354,...,-0.078,334,-4.9200,303,102.2,320,107.2,227,4.2800,82
358,2024,359,Pacific,WCC,6,26,NaN,-22.9100,95.2,340,...,-0.014,224,-0.0400,165,106.3,173,106.3,178,-4.9000,313
359,2024,360,IUPUI,Horz,6,26,NaN,-25.6300,92.1,353,...,-0.019,238,-2.9700,254,106.2,177,109.2,341,-4.1800,303
360,2024,361,Coppin St.,MEAC,2,27,NaN,-25.8600,85.6,361,...,-0.057,310,-5.1300,309,102.8,309,107.9,276,0.7200,172
361,2024,362,Mississippi Valley St.,SWAC,1,30,NaN,-31.2600,85.3,362,...,-0.060,317,-2.3400,234,104.2,274,106.6,191,15.3100,2

In [24]:
df.to_csv(r"C:\Users\socst\Documents\Python Scripts\NCAAB-master\2024 MM\Data\kenpom.csv", index=False)